@font-face {
  font-family: "Colfax";
  src: url("../../../../assets/font/colfax/colfax-thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Colfax";
  src: url("../../../../assets/font/colfax/colfax-regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Colfax";
  src: url("../../../../assets/font/colfax/colfax-medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Colfax";
  src: url("../../../../assets/font/colfax/colfax-bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Colfax";
  src: url("../../../../assets/font/colfax/colfax-black.otf");
  font-weight: 900;
}
