$base-font-size: 14px;

$body-bg: #6e6e6e;

$login-title-color: #111111;
$login-bg: #f9f9f9;

$input-bg: #ededed;
$input-label-color: #999999;
$input-border-color: transparent;

$input-focus-bg: #f9f9f9;
$input-label-focus-color: #9c9c9c;
$input-focus-border-color: #333333;

$input-hover-bg: #e7e7e7;
$input-label-hover-color: #7e7e7e;

$input-hover-focus-bg: #f9f9f9;
$input-label-hover-focus-color: #868686;

$input-invalid-bg: #f3e3f5;
$input-label-invalid-color: #c647d2;
$input-invalid-border-color: #eabfef;
$input-invalid-hint-color: #be29cc;
