@import "variables";
@import "fonts/fonts";

@import "elements/input";
@import "elements/button";
@import "elements/link";
@import "elements/list";

* {
  box-sizing: border-box;
  font-family: "Colfax", "Arial", "Helvetica", "sans-serif";
  user-select: none;
}

html {
  font-size: 14px;

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: $body-bg;
    overflow: hidden;
  }
}

.client {
  display: flex;
  position: absolute;
  width: 1600px;
  height: 900px;

  &__resolution-selector,
  &__splash-selector {
    position: fixed;
    width: 100px;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__splash-selector {
    left: 120px;
  }

  &__window-controls {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    z-index: 1;

    &__button {
      &--minimize,
      &--close {
        width: 2.3rem;
        height: 1.7rem;
        color: $client-window-controls-button-color;
        background-color: transparent;
      }

      &--minimize {
        &:hover {
          color: $client-window-controls-minimize-button-hover-color;
          background-color: $client-window-controls-minimize-button-hover-bg;
        }

        &:active {
          background-color: $client-window-controls-minimize-button-active-bg;
        }

        > .fa-regular {
          margin-bottom: -0.5rem;
        }
      }

      &--close {
        &:hover {
          color: $client-window-controls-close-button-hover-color;
          background-color: $client-window-controls-close-button-hover-bg;
        }

        &:active {
          background-color: $client-window-controls-close-button-active-bg;
        }

        > .fa-regular {
          font-size: 1.2rem;
        }
      }
    }
  }

  &__login-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 26%;
    padding: 4rem;
    background-color: $login-bg;

    &__header {
      &__logo {
        width: 8rem;
        height: 2.3rem;
      }
    }

    &__body {
      width: 100%;
      margin-top: 3rem;

      &__title {
        font-size: 1.55rem;
        font-weight: 700;
        text-align: center;
        letter-spacing: -0.1rem;
        color: $login-title-color;
      }

      .client__input {
        margin-top: 1.2rem;

        &:first-of-type {
          margin-top: 0.6rem;
        }
      }

      &__social-medias {
        margin-top: 1.8rem;

        &__list {
          display: flex;

          &__item {
            &--facebook,
            &--google,
            &--apple {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 2.2rem;
              flex: 1;
              border-radius: 0.3rem;
              cursor: pointer;
              color: #ffffff;
            }

            &--google,
            &--apple {
              margin-left: 0.8rem;
            }

            @mixin social-media-button(
              $defaultBackground,
              $hoverBackground,
              $activeBackground,
              $icon-size
            ) {
              background-color: $defaultBackground;

              &:hover {
                background-color: $hoverBackground;
              }

              &:active {
                background-color: $activeBackground;
              }

              > .fa-brands {
                width: $icon-size;
                height: $icon-size;
                font-size: $icon-size;
                text-align: center;
              }
            }

            &--facebook {
              @include social-media-button(#1877f2, #0966de, #004fb5, 1.15rem);
            }

            &--google {
              @include social-media-button(#ffffff, #f9f9f9, #f0f0f0, 1.15rem);
              border: 2px solid #f2f2f2;

              &:active {
                border-color: #e4e4e4;
              }

              > .fa-brands {
                background: conic-gradient(
                    from -45deg,
                    #ea4335 110deg,
                    #4285f4 90deg 180deg,
                    #34a853 180deg 270deg,
                    #fbbc05 270deg
                  )
                  73% 55%/150% 150% no-repeat;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
              }
            }

            &--apple {
              @include social-media-button(#000000, #141414, #292929, 1.5rem);
            }
          }
        }
      }

      &__keep-login {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 1.2rem;
      }
    }

    &__footer {
      align-items: center;
      margin-top: auto;
    }

    &__body,
    &__footer {
      display: flex;
      flex-direction: column;
    }
  }

  &__bg-area {
    flex-basis: 74%;
    overflow: hidden;

    &__background {
      height: 100%;
    }
  }

  &__link {
    + .client__link {
      margin-top: 0.2rem;
    }

    &:first-of-type {
      margin-top: 5.2rem;
    }
  }
}
